name: Build dev MacOS arm64 binary
on:
  workflow_dispatch:

jobs:
  build-dev-mac-arm64:
    name: Build dev arm64 MacOS binary
    runs-on: macos-latest
    env:
      BUILD_ARCH: arm64
      BUILD_LOGLEVEL: verbose
    steps:
      - uses: actions/checkout@v3
      - run: npm install --production --ignore-scripts
      - run: (cd nexe && npm install --production)
      - run: (cd nexe && node build)
      - run: xz -9e --lzma2 nexe/parpar -c > parpar.xz
      - uses: actions/upload-artifact@v3
        with:
          path: ./parpar.xz
          name: parpar-${{ github.ref_name }}-macos-arm64.xz
          retention-days: 5
