name: Build dev Linux-glibc armv7l binary
on:
  workflow_dispatch:

jobs:
  build-dev-linux-glibc-armv7l:
    name: Build dev armv7l Linux glibc binary
    runs-on: ubuntu-20.04
    env:
      BUILD_ARCH: armhf
      BUILD_LOGLEVEL: verbose
      BUILD_STATIC: '--partly-static'
      BUILD_NO_LTO: 1  # AArch32 compilers don't like mixing FPU modes with LTO [https://github.com/sabnzbd/sabctools/issues/56#issuecomment-1151994494]
    steps:
      - uses: actions/setup-python@v4
        id: py
        with:
          python-version: '3.9' # workaround "cannot import name 'Mapping' from 'collections'" error
      - uses: actions/checkout@v3
      - uses: cyberjunk/gha-ubuntu-cross@v2
        with:
          arch: 'armhf'
      - uses: ryankurte/action-apt@v0.3.0
        with:
          arch: i386  # '-m32' switch doesn't work without this
          packages: "libstdc++-$(c++ -dumpversion)-dev:i386 libc6-dev:i386"
      - run: npm install --production --ignore-scripts
      - run: (cd nexe && npm install --production)
      - run: (cd nexe && node build)
        env:
          CC: arm-linux-gnueabihf-gcc
          CXX: arm-linux-gnueabihf-g++
          CC_host: cc
          CXX_host: c++
      - run: xz -9e --arm --lzma2 nexe/parpar -c > parpar.xz
      - uses: actions/upload-artifact@v3
        with:
          path: ./parpar.xz
          name: parpar-${{ github.ref_name }}-linux-glibc-armv7l.7z
          retention-days: 5
