name: Build dev Win64 binary
on:
  workflow_dispatch:

jobs:
  build-dev-win64:
    name: Build dev x64 Windows binary
    runs-on: windows-2019
    env:
      BUILD_ARCH: x64
      BUILD_LOGLEVEL: verbose
    steps:
      - uses: ilammy/setup-nasm@v1
      - uses: MatteoH2O1999/setup-python@v1
        id: py
        with:
          python-version: '2.7'
      - uses: actions/checkout@v3
      - run: npm install --production --ignore-scripts
      - run: (cd nexe && npm install --production)
      - run: (cd nexe && node build)
      - run: nexe\parpar.exe --version
      - run: nexe\parpar.exe -r1 -s1M -o nexe\test.par2 nexe\parpar.exe
      - run: move nexe\parpar.exe parpar.exe && 7z a -t7z -mx=9 parpar.7z parpar.exe
      - uses: actions/upload-artifact@v3
        with:
          path: ./parpar.7z
          name: parpar-${{ github.ref_name }}-win64.7z
          retention-days: 5
